.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  .time-control {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 100%;
      padding: 1rem 2rem;
    }
    p {
      padding: 1rem;
    }
  }
  .play-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 30%;
    svg {
      cursor: pointer;
    }
  }
}
